*{
    margin:0;
    padding:0;
    font-family: sans-serif;
}
.background
{
    width:100%;
    height:100vh;
    background-image: url(Images/Background.bmp);
    background-size: cover;
    background-position: center;
    position: relative; 
    overflow: hidden;
}

.navbar
{
    width: 85%;
    height:15%;
    margin: auto;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
button
{
    color: #fbfcfd;
    padding: 5px 15px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 20px;
    cursor: pointer;
}
.sidebar
{
    width: 50px;
    height: 195vh;
    background: linear-gradient(#00545d, #000729);
    position: absolute;
    overflow: hidden;
    right: 0;
    top: 0;

}

.menu
{
    display:block;
    width: 50px;
    margin: 5px auto 0;
    cursor: pointer;
    
}
img:hover
{
    box-shadow: inset 0 0 25px 10px rgba(0, 140, 186, 0.5);
}
.socials img
{
    width:50px;
    margin: 15px auto;
    cursor: pointer;
   
}
.socials
{
    width: 50px;
    text-align: center;
    position: absolute;
    top: 25%;
    transform: translateY(-50%);
}
.header
{
    position: relative;
    color:#F3EDE9;
    font-size:59px;
    font-family:helvetica-w01-bold,helvetica-w02-bold,helvetica-lt-w10-bold,sans-serif;
    text-align: left;
    line-height: 1.25em;
    margin: 0px 0px 34px calc((100% - 980px) * 0.5);
}
.description
{
    position: relative;
    color:#F3EDE9;
    font-size:17px;
    font-family:sans-serif;
    line-height: 1.5em;
    letter-spacing:0.2em;
    opacity: 0.90;
    margin: 0px 0px 34px calc((100% - 980px) * 0.5);
}
.email
{
    margin:12px;
    top: 30%;
    text-align: center;
    position: relative;
    rotate: 90deg;
}