*{
    margin:0;
    padding:0;
    font-family: sans-serif;
}
.background
{
    width:100%;
    height:100vh;
    background-image: url(Images/PirateBackground.jpg);
    background-size: cover;
    background-position: center;
    position: relative; 
    overflow: hidden;
}

button
{
    color: #fbfcfd;
    padding: 5px 15px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 20px;
    cursor: pointer;
}
.sidebar
{
    width: 50px;
    height: 100vh;
    background: linear-gradient(#00545d, #000729);
    position: absolute;
    right: 0;
    top: 0;

}

.socials img:hover
{
    box-shadow: inset 0 0 25px 10px rgba(0, 140, 186, 0.5);
}

.socials img
{
    width:50px;
    height: 37px;
    margin-top: 150px;
    cursor: pointer;
   
}
.socials
{
    width: 50px;
    height: 0px;
    text-align: center;
    position: relative;
    bottom: 20%;
    transform: translateY(-50%);
}
.header
{
    position: relative;
    top: 10%;
    height: 200px;
    width: 200px;
    color:#e98644;
    padding-bottom: 20px;
    font-size:59px;
    font-family:helvetica-w01-bold,helvetica-w02-bold,helvetica-lt-w10-bold,sans-serif;
    text-align: left;
    line-height: 1.25em;
    letter-spacing:0.2em;
   
    margin: 0px 0px 34px calc((100% - 980px) * 0.5);
}
.description
{
    position: relative;
    top: 3%;
    color:#e98644;
    font-size:17px;
    font-family:sans-serif;
    line-height: 1.5em;
    letter-spacing:0.2em;
    opacity: 0.90;
    height: 200px;
    width: 200px;
    margin: 0px 0px 34px calc((100% - 980px) * 0.5);
}
.email
{
    margin-top: 150px;
    top: 60%;
    text-align: center;
    position: relative;
    rotate: 90deg;
  
    color:beige;
}
.bubbles img
{
    width: 50px;
    animation: bubble 7s linear infinite;
}
.bubbles
{
width: 100%; 
display: flex;
align-items: center;
justify-content: space-around;
position: absolute;
bottom: -70px;
}
@keyframes bubble
{
    0%
    {   transform: translateY(0);
        opacity: 0;
    }
    50%
    { 
        opacity: 1;
    }
    70%
    {
        opacity: 1;
    }
    100%
    { 
        transform: translateY(-80vh);
        opacity: 0;
    }
}
.bubbles img:nth-child(1)
{
    animation-delay: 2s;
    width:25px;
}
.bubbles img:nth-child(2)
{
    animation-delay: 1s;
}
.bubbles img:nth-child(3)
{
    animation-delay: 3s;
    width:25px;
}
.bubbles img:nth-child(4)
{
    animation-delay: 4.5s;
}
.bubbles img:nth-child(5)
{
    animation-delay: 6s;
}
.bubbles img:nth-child(6)
{
    animation-delay: 7s;
    width:20px;
}
.bubbles img:nth-child(7)
{
    animation-delay: 2s;
    width:35px;
}
        
.menu 
{
    display:block;
    width: 50px;
    top: -16.5%;
    position: relative;
    margin: 15px auto 0;
    cursor: pointer; 
}
.menu:hover
{
    box-shadow: inset 0 0 25px 10px rgba(0, 140, 186, 0.5);
}
.menu-content
{
    top: 8%;
    right: 25%;
    width: 200px;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    z-index: 1;
}
.menu-content a 
{
    color: black;
    font-weight: bold;
    padding: 6px 8px;
    text-decoration: none;
    display: block;
}
.menu-content a:hover
{
    box-shadow: inset 0 0 25px 10px rgba(0, 140, 186, 0.5);
}
.show 
{
    display:block;
} 
/*about me page*/
.background2
{
    /*background-image: url(Images/AboutMeBackground.jpg);*/
    background-color: beige;
    width: 100%;
    height: 100vh;
    background-size: cover;
    position: relative;
}
.sidebar2
{
    width: 50px;
    height: 100vh;
    background: linear-gradient(#494b4b, #26272c2d);
    position: absolute;
    right: 0;
    top: 0;
}
.aboutme-header
{
    text-align: left;
    line-height: 1.5em;
    letter-spacing:0.15em;
    font-size: 24px;
    font-family: sans-serif;
    font-weight: bold;
    position: relative;
    top: 30%;
    padding-bottom: 20px;
    letter-spacing:0.2em;
    margin: 0px 0px 34px calc((100% - 980px) * 0.5);
    height: 200px;
    width: 200px;
}
.aboutme-text
{
    text-align: left;
    line-height: 1.5em;
    letter-spacing:0.1em;
    font-size: 13px;
    font-family: sans-serif;
    position: relative;
    top: 10%;
    padding-bottom: 20px;
    margin: 0px 0px 34px calc((100% - 980px) * 0.5);
    height: 200px;
    width: 500px; 
}
.quill
{
    position: relative;
    width:400px;
    height: 400px;
    bottom: 40%;
    left: 40%;
    -webkit-animation-iteration-count: 7;
    -webkit-animation-name: run;
    -webkit-animation-duration: 3s;
}
@-webkit-keyframes run 
{
    50% { left: 50%;}
    50%{ left : 51%;}
    100%{ left: 50;}
}
  
/*projects page*/
.background3
{
    background-color: rgb(15, 15, 15);
    width: 100%;
    height: 100vh;
    background-size: cover;
    position: relative;
}
.projects-header
{
    text-align: left;
    line-height: 1.5em;
    letter-spacing:0.15em;
    font-size: 24px;
    font-family: sans-serif;
    font-weight: bold;
    color: whitesmoke;
    position: relative;
    top: 30%;
    letter-spacing:0.2em;
    margin: 0px 0px 34px calc((100% - 980px) * 0.5);
    height: 200px;
    width: 200px;
}
.icon-bar
{
    width: 97.4%;
    height: 23vh;
    background: linear-gradient(#494b4b, #26272c2d);
    position: absolute;
    left: 0;
    top: 35%;
    
}
.icons
{ 
 
 
}
.sidebar3
{
    width: 50px;
    height: 100vh;
    background: linear-gradient(#494b4b, #26272c2d);
    position: absolute;
    right: 0;
    top: 0;
}
