*{
    margin:0;
    padding:0;
    font-family: sans-serif;
}
.background
{
    position: relative; 
    width:100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    background-image: url(Images/PirateBackground.jpg);
    
}

button
{
    color: #fbfcfd;
    padding: 5px 15px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 20px;
    cursor: pointer;
}
.sidebar
{
    width: 50px;
    height: 80vh;
    position: fixed;
    right: 0;
    top: 15%;

}

.socials img:hover
{
    box-shadow: inset 0 0 25px 10px rgba(0, 140, 186, 0.5);
}

.socials img
{
    width:50px;
    height: 37px;
    margin-top: 150px;
    cursor: pointer;
   
}
.socials
{
    width: 50px;
    height: 0px;
    text-align: center;
    position: relative;
    bottom: 20%;
    transform: translateY(-50%);
}
.header
{
    margin-inline: 25%;
    position: relative;
    height: 0;
    width: 0;
    top: 13rem;
    
   
    color:#e98644;
    font-size:4rem;
    font-family:sans-serif;
    line-height: 1.25em;
    letter-spacing:0.2em;
}
.container1
{
    margin-inline: auto;
    width: min(90%,55rem);
}
.description
{
    
    position: relative;
    height: 0;
    top: 30rem;
    
    

    color:#e98644;
    text-align: left;
    font-size:1.2rem;
    font-family:sans-serif;
    line-height: 1.5em;
    letter-spacing:0.2em;
    opacity: 0.90;
}
.email
{
    margin-top: 150px;
    top: 60%;
    text-align: center;
    position: relative;
    rotate: 90deg;
  
    color:beige;
}
.bubbles img
{
    width: 50px;
    animation: bubble 7s linear infinite;
}
.bubbles
{
width: 100%; 
display: flex;
align-items: center;
justify-content: space-around;
position: absolute;
bottom: -70px;
}
@keyframes bubble
{
    0%
    {   transform: translateY(0);
        opacity: 0;
    }
    50%
    { 
        opacity: 1;
    }
    70%
    {
        opacity: 1;
    }
    100%
    { 
        transform: translateY(-80vh);
        opacity: 0;
    }
}
.bubbles img:nth-child(1)
{
    animation-delay: 2s;
    width:25px;
}
.bubbles img:nth-child(2)
{
    animation-delay: 1s;
}
.bubbles img:nth-child(3)
{
    animation-delay: 3s;
    width:25px;
}
.bubbles img:nth-child(4)
{
    animation-delay: 4.5s;
}
.bubbles img:nth-child(5)
{
    animation-delay: 6s;
}
.bubbles img:nth-child(6)
{
    animation-delay: 7s;
    width:20px;
}
.bubbles img:nth-child(7)
{
    animation-delay: 2s;
    width:35px;
}
        
.menu 
{
    display:block;
    width: 50px;
    top: -16.5%;
    position: relative;
    margin: 15px auto 0;
    cursor: pointer; 
}
.menu:hover
{
    box-shadow: inset 0 0 25px 10px rgba(0, 140, 186, 0.5);
}
.menu-content
{
    position: relative;
    bottom: 7rem;
    right: 9rem;
    width: 200px;
    display: none;
    
    background-color: #f1f1f1;
    z-index: 1;
}
.menu-content a 
{
    color: black;
    font-weight: bold;
    padding: 6px 8px;
    text-decoration: none;
    display: block;
}
.menu-content a:hover
{
    box-shadow: inset 0 0 25px 10px rgba(0, 140, 186, 0.5);
}
.show 
{
    display:block;
} 
/*about me page*/
.background2
{
    /*background-image: url(Images/AboutMeBackground.jpg);*/
    background-color: beige;
    width: 100%;
    height: 100vh;
    background-size: cover;
    position: relative;
}
.sidebar2
{
    width: 50px;
    height: 100vh;
    background: linear-gradient(#494b4b, #26272c2d);
    position: absolute;
    right: 0;
    top: 0;
}
.aboutme-header
{
    text-align: left;
    line-height: 1.5em;
    letter-spacing:0.15em;
    font-size: 24px;
    font-family: sans-serif;
    font-weight: bold;
    position: relative;
    top: 30%;
    padding-bottom: 20px;
    letter-spacing:0.2em;
    margin: 0px 0px 34px calc((100% - 980px) * 0.5);
    height: 200px;
    width: 200px;
}
.aboutme-text
{
    text-align: left;
    line-height: 1.5em;
    letter-spacing:0.1em;
    font-size: 13px;
    font-family: sans-serif;
    position: relative;
    top: 10%;
    padding-bottom: 20px;
    margin: 0px 0px 34px calc((100% - 980px) * 0.5);
    height: 200px;
    width: 500px; 
}
.quill
{
    position: relative;
    width:400px;
    height: 400px;
    bottom: 40%;
    left: 40%;
    -webkit-animation-iteration-count: 7;
    -webkit-animation-name: run;
    -webkit-animation-duration: 3s;
}
@-webkit-keyframes run 
{
    50% { left: 50%;}
    50%{ left : 51%;}
    100%{ left: 50;}
}
  
/*projects page*/
.background3
{
    background-color: rgb(15, 15, 15);
    width: 100%;
    height: 700vh;
    background-size: cover;
    position: relative;
}
.projects-header
{
    text-align: left;
    line-height: 1.5em;
    letter-spacing:0.15em;
    font-size: 24px;
    font-family: sans-serif;
    font-weight: bold;
    /*color: whitesmoke;*/
    color: white;
    position: relative;
    top: 1%;
    letter-spacing:0.2em;
    margin-left: 5px;
    height: 100px;
    width: 100px;
}
.icon-bar
{ 
    margin-top: 10%;
}
.icons
{ 
    display: flex;
    justify-content: space-evenly;
}
.icons img:hover
{
    box-shadow: inset 0 0 25px 10px rgb(241, 252, 255);
}
.sidebar3
{
    width: 50px;
    height: 100vh;
    background: linear-gradient(#494b4b, #26272c2d);
    position: fixed;
    right: 0;
    top: 0;
}
.project-bar
{
    width:90px;
}
.project-names
{
    
    color: white;
    margin-top: -115px;
    margin-bottom: 600px;
    margin-left: 300px;
    list-style-type: none;
}
.project-desc
{  
    list-style-type: none;
    margin-left: 600px;
    padding-bottom: 15px;
    color: white;
}
.top
{
    position: fixed;
}
.time-period
{
    color: gray;
    padding-top: 20px;
    margin-left: 600px;
}
/*new-projects page*/
.background4
{
    position: relative; 
    width:100%;
    height:200vh;
    background-size: cover;
    background-position: center;
    background-color: #22262a;
}
.sidebar4
{   
    width: 50px;
    height: 80vh;
    position: fixed;
    right: 0;
    top: 15%;
}

.project-icons
{
    display:inline-block;
    margin-left: 8rem;
    
}
.project-icons img
{
    width: 35vw; /*50%*/
    height: 35vh;
    margin-top: 10%;
    -webkit-box-shadow: 3px 3px 3px 3px rgb(8, 8, 8);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 3px 3px rgb(8, 8, 8);  /* Firefox 3.5 - 3.6 */
    box-shadow:         3px 3px 3px 3px rgb(8, 8, 8);

}
.project-icons img:hover
{
    box-shadow: inset 0 0 25px 10px rgba(2, 141, 187, 0.5);
    background-color: hsla(0,0%,100%,.8);
    padding: .5rem 2rem;
    cursor: pointer;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.project-icons img:hover + .view-button, .view-button:hover
{
    display: inline-block;
}

.view-button
{   
    display: none;
    box-shadow: inset 0 0 25px 10px rgba(2, 141, 187, 0.5);
    left: 0;
    margin-left: 30%;
    margin-top: 15%;
    position: absolute;
    color: #22262a;
    font-family:sans-serif;
    font-size: 1rem;
    letter-spacing: 1px;
    background-color: hsla(0,0%,100%,.8);
    border: none;
    border-radius: 3px;
    padding: .5rem 2rem;
    cursor: pointer;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.project-icons img:hover + .view-button1, .view-button1:hover
{
    display: inline-block;
  
}
.view-button1
{   
    box-shadow: inset 0 0 25px 10px rgba(2, 141, 187, 0.5);
    display: none;
    left: 0;
    margin-left: 60%;
    margin-top: 15%;
    position: absolute;
    color: #22262a;
    font-family:sans-serif;
    font-size: 1rem;
    letter-spacing: 1px;
    background-color: hsla(0,0%,100%,.8);
    border: none;
    border-radius: 3px;
    padding: .5rem 2rem;
    cursor: pointer;
    -webkit-transition: all .2s;
    transition: all .2s;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 13rem; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; 
    
    background-color: #22262a;
   
  }
  
  /* Modal Content */
.modal-content 
{
    
    background-color:#384047;
    margin: auto;
    width: 80vw; /*was 55%*/ /*THEN 85*/
    height: 51.8%;
   
    
}

.modal-content img 
{
    height: 100%; /* 500px , 600 px*/
    width: 50%;
}
.modal-header
{  
    position: relative;
    bottom: 100%;
    left: 55%;
    
    color: ghostwhite;
    font-size: 2.25vw;
    letter-spacing: 1px;
    font-weight: lighter;
 
}
.modal-summary
{ 
    
    /* width: min(60%,20rem);
    height: 10rem;
    left: 60%;
    bottom: 95%; */
    position: relative;
    width: min(40%,20rem);
    height: 20vh;
    left: 55%;
    bottom: 95%;
    font-family: sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #94a4b4;
    overflow-y:scroll;
    overflow-x:scroll;
    white-space: pre-line;
}
.modal-button
{
    display: inline-block;
    position: relative;
    left:55%;
    bottom: 40%;
    color: #22262a;
    font-family: sans-serif;
    text-decoration: none;
    font-size: .7rem;
    letter-spacing: 1px;
    background-color: hsla(0,0%,100%,.8);
    border-radius: 3px;
    padding: .5rem .5rem;
    cursor: pointer;
}

.wrap
{
    width: 60%;
}

.tech-names
{
    list-style: none;
    color: #94a4b4;
    font-weight: lighter;
    letter-spacing: 1px;
    font-size: .8rem;
}
.tech-icons
{
    display: inline-block;
    border: 1px solid grey;
    padding: .25rem;
    position: relative;
    left: 91%;
    bottom: 45%;
   
    
}
.close 
{
    color: #aaaaaa;
    float: right;
    font-size: 40px;
    font-weight: bold;
}

.close:hover, .close:focus 
{    
    color:#94a4b4;
    text-decoration: none;
    cursor: pointer;
}
.container
{
    margin-inline: auto;
    width: min(90%,70.5rem);
}

.footer
{
    position: absolute;
    bottom: 1rem;
    left: 0;
    width: 80%;
    padding: 1rem;
    background:transparent;
    color: #94a4b4;
    font-size: 1rem;
    text-align: center;
    font-family: sans-serif;
   
}
.footer-info
{
    display: inline-block;
    margin-right: 3rem;
}
.footer-text
{
    color: #fff;
    text-decoration: none;
}


